body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

/* .board-row:after { */
  /* clear: both; */
  /* content: ""; */
  /* display: table; */
/* } */

.piece-count{
  margin-bottom: 20px;
}

.piece-row{
  margin-top: 20px;
}

.piece-row:after{
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #27ae60;
  border: 1px solid #0b8803;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 45px;
}

.square:focus {
  outline: none;
}

.square:hover{
  background: #0b8803;
}

.player-square{
  color: red;
}

.computer-square{
  color: blue;
}

.player-piece {
  background: #c0392b;
  border-radius: 100%;
  border: 1px solid #000;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.visible-border{
  border: 2px solid white;
}

.player-piece:hover{
  background: #e74c3c;
  border-color: #c0392b;
}

.player-piece:active{
  background: #e74c3c !important;
  border-color: #c0392b !important;
}

.player-piece:focus {
  background: #e74c3c;
  border-color: #c0392b;
  box-shadow: 0 0 0 1px grey;
  transform: scale(1.2);
  transition: all 0.5s;
}

.computer-piece {
  background: #3498db;
  border-radius: 100%;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  border: 1px solid #000;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.computer-piece:hover{
  background: #2980b9;
}

.computer-piece:active{
  background: #2980b9 !important;
}

.computer-piece:focus {
  background: #2980b9;
  box-shadow: 0 0 0 1px grey;
  transform: scale(1.2);
  transition: all 0.5s;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
