body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.piece-row{
  margin-top: 20px;
}

.piece-row:after{
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #27ae60;
  border: 1px solid #0b8803;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.player-piece {
  background: #e74c3c;
  border-radius: 100%;
  border: 1px solid #000;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.player-piece:hover{
  background: #c0392b;
}

.player-piece:active{
  background: #c0392b !important;
}

.player-piece:focus {
  background: #c0392b;
  box-shadow: 0 0 0 0.1rem grey;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}