.login {
    float: left;
}

.createAcc {
    float: right;
}

.btn {
    background-color: #5ceab3 !important;
    border-color: #5ceab3 !important;
}
.btn:hover {
    background-color: #53d3a0!important;
    border-color: #53d3a0!important;
}

.title {
    font-size: 104px;
}

.titleDiv {
    text-align: center;
    margin-bottom: 5em;
}

.emoji{
    font-size: 64px;
}